footer{
    padding: 20px 20px;
    /*background-color: #07051b;*/
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 0px;
}

.jumbotron{
    margin-top: 50px;
}

.card-hotel{
    /*flex: 1 200px;*/
    margin: 15px 15px;
}

.card-hotel:hover{
    box-shadow: 1px 1px 10px 4px #00000026;
}

.btn-reserva{
    width: 100%;
    border-radius: 0;
}

a, a:hover{
    color: #b5c2ff;
}

.footer-address-icon{
    padding-right: 15px;
}

.img-index{
    background: url('../images/hotel.jpg');
    background-repeat: no-repeat;
    height: 30rem;
    color: white;
}